.signup-login-button {
  width: auto;
  margin-top: 20px;
  font-family: var(--text-font-family);
  color: white;
  background: var(--button-color);
  border: none;
  padding: 5px 20px 5px 20px;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
}

.signup-login-button:hover {
  transition: 0.3s;
  box-shadow: var(--box-shadow);
}
