.LoginCard-container {
  width: 20%;
  height: 350px;
  background: var(--component-color);
  border-radius: var(--border-radius);
  display: flex;
  flex-flow: column;
  align-items: center;
  box-shadow: var(--box-shadow);
}

.LoginCard-container h2 {
  font-family: var(--heading-font-family);
  font-size: 20px;
}

.input-field {
  width: 80%;
  margin: 10px 0px 10px 0px;
  padding: 15px 5px 15px 5px;
  border: none;
  text-indent: 5px;
  background-color: transparent;
  border: 1px solid gray;
  font-family: var(--text-font-family);
  font-size: 18px;
  outline: none;
  border-radius: 3px;
}

.logged-in-container {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
  font-family: var(--text-font-family);
}

.signin-checkbox-label {
  margin-left: 5px;
}

.LoginCard-container:hover {
  box-shadow: var(--box-shadow-hover);
}

.reset-password-and-create-login {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--text-font-family);
  color: gray;
  flex-flow: row wrap;
  margin-top: 10px;
}

.login-links {
  color: black;
  text-decoration: none;
}

@media screen and (max-width: 1420px) {
  .LoginCard-container h2 {
    font-size: 18px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1419px) {
  .LoginCard-container {
    width: 32%;
  }
}

@media screen and (max-width: 1024px) {
  .LoginCard-container {
    width: 35%;
  }
}

@media screen and (max-width: 768px) {
  .LoginCard-container {
    width: 60%;
  }
}

@media screen and (max-width: 425px) {
  .LoginCard-container {
    width: 80%;
  }
}
