.reset-password-form-container {
  width: 100%;
  height: 100vh;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.reset-container {
  width: 20%;
  height: 350px;
  background: var(--component-color);
  border-radius: var(--border-radius);
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: var(--box-shadow);
}

.reset-container h2 {
  font-family: var(--heading-font-family);
  font-size: 20px;
}

.input-field {
  width: 80%;
  margin: 10px 0px 10px 0px;
  padding: 15px 5px 15px 5px;
  border: none;
  text-indent: 5px;
  background-color: transparent;
  border: 1px solid gray;
  font-family: var(--text-font-family);
  font-size: 18px;
  outline: none;
  border-radius: 3px;
}

.input-and-CTA-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
}

@media screen and (max-width: 1465px) {
  .reset-container h2 {
    font-size: 18px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1464px) {
  .reset-container {
    width: 32%;
  }
}

@media screen and (max-width: 1024px) {
  .reset-container {
    width: 35%;
  }
}

@media screen and (max-width: 768px) {
  .reset-container {
    width: 60%;
  }
}

@media screen and (max-width: 425px) {
  .reset-container {
    width: 80%;
  }
}
